*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
}


#main{
    height:400px;
    width:300px;
    position: relative;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 15px;
    border-color:blue;
    border:2px solid blue;
}

#profile{
    height: 150px;
    width: 150px;
    background-image:url(./sanjay.jpg);
    background-size: cover;
    background-position: 50%,60%;
    border-radius: 50%;
    border:3px solid rgb(1, 1, 188);

}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}    

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}